<div class="main">
  <mat-form-field class="type-select">
    <mat-label>Type</mat-label>
    <mat-select [formControl]="typeCtrl" name="type">
      <mat-option *ngFor="let type of ['FETCH', 'XHR']" [value]="type"> {{type}} </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="method-select">
    <mat-label>Method</mat-label>
    <input (blur)="onMethodBlur()" type="text" placeholder="Method" aria-label="Request method" matInput
      [formControl]="methodCtrl" [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredMethodOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="url-input">
    <mat-label>Url</mat-label>
    <input #url matInput placeholder="Match API endpiont (regexp)" [formControl]="urlCtrl"
      (keyup)="onUrlUpdate(url.value)">
  </mat-form-field>

  <mat-icon color="primary"
    matTooltip="The API URL is used, together with the request type and method, to map an API call with a mock. To make this more flexible you can use regular expression syntax here">
    info</mat-icon>
  <span class="spacer"></span>
</div>

<div class="codes">
  <div class="label">Responses:</div>
  <div class="codes-wrapper">
    <button mat-raised-button (click)="onSelectStatusCode()" [ngClass]="{ 'is-active': !data.activeStatusCode }">
      Off
    </button>
    <button mat-raised-button *ngFor="let code of codes" (click)="onSelectStatusCode(code)"
      [ngClass]="{ 'is-active': code == data.activeStatusCode }">
      <oh-my-mock-label [mock]="getMock(code)"></oh-my-mock-label>
    </button>
    <button mat-raised-button (click)="openAddResponseDialog()">+</button>
  </div>
  <div class="exports">
    <button mat-raised-button color="primary" (click)="exportNgApiMock()">Save as NgApiMock</button>
  </div>
</div>
