<div class="request">
  <h3>Request:</h3>
  <section>
    <mat-form-field class="type-select">
      <mat-label>Type</mat-label>
      <mat-select [formControl]="typeCtrl" name="type">
        <mat-option *ngFor="let type of ['FETCH', 'XHR']" [value]="type">
          {{ type }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <oh-my-autocomplete-dropdown
      label="Method"
      [formControl]="methodCtrl"
      [options]="availableMethods"
    ></oh-my-autocomplete-dropdown>

    <mat-form-field class="url-input">
      <mat-label>Url</mat-label>
      <input
        #url
        matInput
        placeholder="Match API endpiont (regexp)"
        [formControl]="urlCtrl"
        (keyup)="onUrlUpdate(url.value)"
      />

      <mat-icon
        color="primary"
        matTooltip="The request URL is used together with the type and method to map incoming API call with a response. This field can also contain regular expression!"
      >
        info</mat-icon
      >
    </mat-form-field>
  </section>
</div>

<section class="responses-wrapper">
  <div *ngIf="state" class="responses" [ngClass]="{ 'is-active': true }">
    <h3>
      Responses:
      <mat-icon
        color="primary"
        matTooltip="Select the response to be served for this request. Note: Each preset can have a different response!"
      >
        info</mat-icon
      >
    </h3>
    <div class="codes-wrapper">
      <button class="inactive" mat-raised-button (click)="onSelectStatusCode()">
        Off
      </button>
      <button
        mat-raised-button
        *ngFor="let mockId of mockIds"
        (click)="onSelectStatusCode(mockId)"
        [ngClass]="{ 'is-active': true }"
      >
        <oh-my-mock-label [mock]="data.mocks[mockId]"></oh-my-mock-label>
      </button>
      <button mat-raised-button (click)="openAddResponseDialog()">+</button>
    </div>
    <div class="exports">
      <!-- <button mat-raised-button color="primary" (click)="exportNgApiMock()">Save as NgApiMock</button> -->
    </div>
  </div>
  <div class="preset-selector">
    <h3>
      <span>Presets</span>
      <mat-icon
        class="info info-contrast scenario-help"
        color="primary"
        [matTooltip]="presetInfo">info</mat-icon>
    </h3>
    <oh-my-preset class="preset" [presets]="state?.presets"></oh-my-preset>
  </div>
</section>
