<div class="main">
  <mat-form-field class="type-select">
    <mat-label>Type</mat-label>
    <mat-select [formControl]="typeCtrl" name="type">
      <mat-option *ngFor="let type of ['FETCH', 'XHR']" [value]="type"> {{type}} </mat-option>
    </mat-select>
  </mat-form-field>

    <oh-my-autocomplete-dropdown label="Method" 
      [formControl]="methodCtrl"
      [selected]="data.method"
      [options]="availableMethods"></oh-my-autocomplete-dropdown>

  <mat-form-field class="url-input">
    <mat-label>Url</mat-label>
    <input #url matInput placeholder="Match API endpiont (regexp)" [formControl]="urlCtrl"
      (keyup)="onUrlUpdate(url.value)">
  </mat-form-field>

  <mat-icon color="primary"
    matTooltip="The API URL is used, together with the request type and method, to map an API call with a mock. To make this more flexible you can use regular expression syntax here">
    info</mat-icon>
</div>

<div class="codes" [ngClass]="{ 'is-active': data.enabled }">
  <div class="label">Responses:</div>
  <div class="codes-wrapper">
    <button class="inactive" mat-raised-button (click)="onSelectStatusCode()">
      Off
    </button>
    <button mat-raised-button *ngFor="let mockId of mockIds" (click)="onSelectStatusCode(mockId)"
      [ngClass]="{ 'is-active': mockId == data.activeMock }">
      <oh-my-mock-label [mock]="data.mocks[mockId]"></oh-my-mock-label>
    </button>
    <button mat-raised-button (click)="openAddResponseDialog()">+</button>
  </div>
  <div class="exports">
    <!-- <button mat-raised-button color="primary" (click)="exportNgApiMock()">Save as NgApiMock</button> -->
  </div>
</div>
