@import "mixins";

.main {
  display: flex;

  .method-select {
    margin-left: $spacer-2;
    width: 80px;
  }

  .type-select {
    width: 80px;
  }

  .url-input {
    margin-left: $spacer-4;
  }

  input {
    width: 300px;
  }

  .spacer {
    flex: 1;
    opacity: 0;
  }
}

.codes {
  display: flex;
  margin-top: 10px;

  .label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    margin-right: 20px;
  }

  .codes-wrapper {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin-right: $spacer-2;
  }

  button {
    border: 2px solid transparent;
  }

  button {
    margin-right: $spacer-2;
    margin-top: $spacer-2;
  }

  .is-active {
    border: 2px solid green;
  }

  &:not(.is-active) {
    .inactive {
      border: 2px solid green;
    }

    .is-active {
      border: 2px solid lightgrey;
    }
  }
}
