<ng-container *ngIf="data?.length">
  <button class="edit-data" (click)="onEdit()" mat-mini-fab color="warn" aria-label="Edit data">
    <mat-icon>{{edit ? 'clear' : 'edit'}}</mat-icon>
  </button>

  <div class="legenda">
    <span class="active">Active</span>
    <span class="active-modified">Active/modified</span>
    <span class="inactive">Inactive</span>
  </div>

  <table [ngClass]="{'is-edit': edit}" mat-table [dataSource]="data" class="mat-elevation-z8">
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell [hidden]="!edit" *matCellDef="let element">
        <button (click)="onDeleteData(element)" mat-mini-fab color="primary"
          aria-label="Example icon button with a menu icon">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef>Url</th>
      <td mat-cell *matCellDef="let element"> {{element.url}} </td>
    </ng-container>

    <ng-container matColumnDef="method">
      <th mat-header-cell *matHeaderCellDef> Method </th>
      <td mat-cell *matCellDef="let element"> {{element.method}} </td>
    </ng-container>

    <ng-container matColumnDef="activeStatusCode">
      <th mat-header-cell *matHeaderCellDef> Active statusCode </th>
      <td mat-cell *matCellDef="let element"> {{element.activeStatusCode === 0 ? 'Off' : element.activeStatusCode }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns">
    </tr>
    <tr mat-row [routerLink]="'/mocks/' + i" *matRowDef="let row; columns: displayedColumns;let i = index"
      [ngClass]="{'is-active': row.activeStatusCode > 0, 'is-modified': row.mocks[row.activeStatusCode]?.modifiedOn}">
    </tr>
  </table>
</ng-container>

<section *ngIf="!data?.length" class="no-data">
  <h2>No responses available</h2>
</section>
