<h2>Headers</h2>

<section>
  <div class="source">
    <p *ngFor="let h of headers">
      <span class="label">{{h[0]}}:</span>
      <span class="value">{{h[1]}}</span></p>
  </div>

  <div class="mock">
    <span class="toggle">
      enable
      <mat-slide-toggle [checked]="mock.useHeadersMock" (change)="onHeadersMockToggle($event.checked)">
      </mat-slide-toggle>
    </span>
    <p *ngFor="let hm of mock.headersMock">
      <span class="label">{{hm[0]}}:</span>
      <span class="value">{{hm[1]}}</span>
    </p>
  </div>
</section>
