<mat-form-field class="method-select">
    <mat-label>{{label}}</mat-label>
    <input 
        #input
        (blur)="onBlur(auto)"
        (focus)="onFocus($event, trigger)"
        type="text" matInput 
        [formControl]="ctrl"
        #trigger="matAutocompleteTrigger" 
        [matAutocomplete]="auto">
    <mat-autocomplete  autoActiveFirstOption #auto="matAutocomplete"
        (opened)="onAutoCompleteOpened()"
        (closed)="onAutoCompleteClose()"
        (optionSelected)="onOptionSelected($event)">
        <mat-option *ngFor="let option of filteredMethodOptions" [value]="option">
            {{option}}
        </mat-option>
    </mat-autocomplete>
    <button mat-button *ngIf="ctrl.value" matSuffix mat-icon-button aria-label="Clear" (click)="ctrl.setValue('');trigger.openPanel()">
        <mat-icon>close</mat-icon>
    </button>
</mat-form-field>