<form [formGroup]="form" *ngIf="form">
  <p>
    <mat-form-field>
      <mat-label>Status Code</mat-label>
      <input type="number" matInput [formControl]="statusCodeCtrl">
      <mat-error> {{requiredMsg}} </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [formControl]="nameCtrl">
    </mat-form-field>
    <mat-icon color="primary" matTooltip="Describes the mock's purpose in one or two words. This can be useful
        if you have multple mocks with the same status code. To export to NgApiMock this field is required!">info
    </mat-icon>
  </p>
  <p>
    <mat-form-field class="example-full-width">
      <mat-label>Response delay (ms)</mat-label>
      <input matInput [formControl]="delayCtrl" class="value" [value]="mock.delay">
    </mat-form-field>
  </p>
</form>
<div>
  <p><span class="label">ContentType:</span>

      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Content type" aria-label="Content type" matInput [formControl]="mimeTypeCtrl"
          [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option (click)="selectedOption = option" *ngFor="let option of filteredMimeTypes$ | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
  </p>
  <p><span class="label">Created:</span><span class="value">{{mock.createdOn}}</span></p>
  <p><span class="label">Last modified:</span><span class="value">{{mock.modifiedOn}}</span></p>
</div>
