@import "mixins";

:host {
  align-items: flex-start;
  display: flex;

  .label,
  .value {
    font-size: $oh-font-size;
  }

  div + div {
    margin: $spacer-4 0 0 $spacer-4 * 2;
  }
}

form {
  display: flex;
}

.label {
  display: inline-flex;
  font-weight: bold;
  width: 120px;
  justify-content: flex-end;
  padding-right: 5px;
}

.details {
  align-items: flex-start;
  display: flex;
  flex-direction: column;

  p {
    display: flex;
    width: 100%;

    &.vertical {
      justify-content: flex-start;
      flex-direction: column;
    }
  }

  oh-my-content-type {
    align-self: center;
    margin-top: $spacer-2;
  }
}

.scenario-dropdown {
  display: flex;

  p {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}
