<h2>List of available scenarios:</h2>
<ol>
    <li *ngFor="let id of scenarioIds empty noScenarios">
        <mat-form-field class="full-width">
            <input #input matInput [(ngModel)]="scenariosObj[id]">
        </mat-form-field>
        <button (click)="onDelete(id)" mat-mini-fab>
            <mat-icon>delete</mat-icon>
        </button>
    </li>
</ol>
<div class="actions">
    <button type="button" mat-button (click)="onClose()">Cancel</button>
    <button type="button" class="add-scenario" (click)="onCreate()" mat-mini-fab color="secondary">+</button>
    <button type="submit" mat-raised-button color="primary" (click)="onSave()">Save</button>
</div>

<ng-template #noScenarios>
    <p>No scenarios!</p>
    <p>Click the + button to create a scenario</p>
</ng-template>