@import "mixins";

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.action-wrapper {
  align-items: center;
  display: flex;
  position: relative;

  &>mat-icon {
    @include oh-position(absolute, 0px -12px 0 0);
  }
}

.mock-settings {
  display: flex;
  flex-direction: row;

  oh-my-mock-details {
    justify-content: center;
    flex: 1;
  }

}

.mock-actions {
  align-items: flex-end;
  align-self: flex-start;
  display: flex;
  flex-direction: column;

  .anonymize-mock {
    margin-top: $spacer-2;
  }
}

section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

mat-card+mat-card {
  margin-top: 10px;
}

.code-wrapper {
  align-self: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 60%;

  .fullscreen {
    @include oh-position(absolute, -20px -20px 0 0);
    z-index: 1;
  }

  .reset {
    align-self: flex-end;
  }
}

.js-code-edit {
  margin-left: $spacer-2;
  margin-top: $spacer-2;
}

oh-my-code-edit {
  align-self: center;
  border: 1px solid lightgrey;
  height: 300px;
  width: 100%;
}

.data {
  display: flex;
  flex-direction: column;
  width: 100%;

  button {
    align-self: flex-end;
    margin-top: 5px;
  }
}


.response,
.headers {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  margin-top: $spacer-4;

  button {
    align-self: flex-end;
  }
}
