@import "mixins";

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.label {
  display: inline-flex;
  font-weight: bold;
  font-size: 15px;
  width: 150px;
  justify-content: flex-end;
  padding-right: 5px;
}

.value {
  font-size: 15px;
}

.delete-mock {
  align-self: flex-start;
}

section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

mat-card+mat-card {
  margin-top: 10px;
}

.details {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;

  header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: $spacer-1;
    width: 100%;

    h2 {
      display: flex;
      flex: 0;
      justify-content: space-between;
      margin: 0;
      width: 49%;
    }
  }
}

.js-code-edit {
  margin-left: $spacer-2;
}

oh-my-code-edit {
  align-self: center;
  border: 1px solid lightgrey;
  height: 300px;
  width: 60%;
}

.data {
  display: flex;
  flex-direction: column;
  width: 100%;

  button {
    align-self: flex-end;
    margin-top: 5px;
  }
}


.response,
.headers {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  margin-top: $spacer-4;

  button {
    align-self: flex-end;
  }
}
