<mat-card *ngIf="data" class="header">
  <app-mock-header [data]="data" [domain]="domain"></app-mock-header>
</mat-card>

<mat-card *ngIf="data?.activeStatusCode" class="details">
  <section class="mock-settings">
    <oh-my-mock-details [mock]="mock" [domain]="domain" [dataId]="data.id"></oh-my-mock-details>
    <div class="mock-actions">
      <button mat-stroked-button class="delete-mock" (click)="onDelete()">
        <mat-icon>delete_forever</mat-icon>
      </button>

      <button mat-stroked-button class="anonymize-mock" (click)="onAnonymize()">
        Anonymise your data
      </button>
      <div class="action-wrapper">
        <button class="js-code-edit" (click)="openShowMockCode()" mat-stroked-button>Mocking with code</button>
        <mat-icon color="primary"
          matTooltip="This is the place where OhMyMock creates responses. You can write code in here to change the default mocking behaviour. You can make Fetch/XHR request and/or change the cached responses/headers.">
          info</mat-icon>
      </div>
    </div>
  </section>

  <section *ngIf="!dialogIsOpen" class="response">
    <header>
      <h2>Response</h2>
    </header>
    <div class="code-wrapper">
      <button class="fullscreen" (click)="onShowResponseFullscreen()" mat-mini-fab color="primary"
        aria-label="Example icon button with a menu icon">
        <mat-icon>fullscreen</mat-icon>
      </button>
      <oh-my-code-edit #response [code]="mock.responseMock" (codeChange)="onResponseChange($event)" theme="vs"
        [type]="mock.subType">
      </oh-my-code-edit>
      <button class="reset" mat-button (click)="onRevertResponse()">Reset</button>
    </div>
  </section>

  <section *ngIf="!dialogIsOpen" class="headers">
    <header>
      <h2>Headers</h2>
    </header>
    <div class="code-wrapper">
      <button class="fullscreen" (click)="onShowHeadersFullscreen()" mat-mini-fab color="primary"
        aria-label="Example icon button with a menu icon">
        <mat-icon>fullscreen</mat-icon>
      </button>
      <oh-my-code-edit #headers [code]="mock.headersMock" [allowErrors]="false" (codeChange)="onHeadersChange($event)"
        type="json">
      </oh-my-code-edit>
      <button class="reset" mat-button (click)="onRevertHeaders()">Reset</button>
    </div>
  </section>
</mat-card>
