<mat-card class="header">
  <div *ngIf="state" class="main">
    <span>{{state.method}}</span>
    <span>{{state.type}}</span>
    <input matInput [value]="state.url" (change)="onUrlUpdate($event)">
    <span class="spacer"></span>
    <mat-slide-toggle [checked]="state.enabled" (change)="onActivityMocksChange()"></mat-slide-toggle>
  </div>

  <div class="codes">
    <div class="label"><span>Status</span><span>Codes</span></div>
    <div class="codes-wrapper">
      <button mat-raised-button *ngFor="let code of codes" (click)="onViewMock(code)"
        [ngClass]="{'is-active': code == statusCode}">{{code}}</button>
      <button mat-raised-button (click)="openAddStatusCodeDialog()">+</button>
    </div>
  </div>
</mat-card>

<mat-card class="response" *ngIf="statusCode">
  <button (click)="onDelete()">
    <mat-icon>delete_forever</mat-icon>
  </button>
  <header>
    <h2>Response<span class="toggle">
        passthrough
        <mat-slide-toggle [checked]="mock.passThrough" (change)="mock.passThrough = $event.checked">
        </mat-slide-toggle>
      </span></h2>
    <h2>
      <span>Mock</span>
    </h2>
  </header>
  <div class="data">
    <pre #responseRef></pre>
    <pre #mockRef (keyup)="onMockChange($event)" class="mock"></pre>
  </div>

  <button class="js-code-edit" (click)="openJsCodeDialog()" mat-stroked-button>Mocking with code</button>
</mat-card>
