<h2>Create new Response</h2>
<form [formGroup]="form" class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Status Code</mat-label>
    <input type="number" matInput [formControl]="codeCtrl">
  </mat-form-field>
  <oh-my-autocomplete-dropdown 
    [options]="scenarioValues"
    label="Scenario (optional)"></oh-my-autocomplete-dropdown>
  <mat-form-field class="example-full-width">
    <mat-label>Scenario TODO (dropdown) (optional)</mat-label>
    <input type="text" matInput [formControl]="nameCtrl">
  </mat-form-field>
  <mat-slide-toggle [formControl]="cloneCtrl">Clone current mock?</mat-slide-toggle>

  <div class="spacer"></div>

  <div class="actions">
    <button type="button" mat-button (click)="onClose()">Cancel</button>
    <button type="submit" mat-raised-button color="primary" (click)="onSave()">Save</button>
  </div>
</form>
