:host {
  display: flex;
  flex-direction: column;
  height: 200px;
}

h2 {
  margin-top: 0;
}

label {
  width: 100%;
  height: 100%;
  border: 1px dashed #0087F7;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: darkgrey;
  font-weight: bold;
  cursor: pointer;

  &.dragging {
    background-color: #cdcdff;
    border: 3px dashed #999999;
  }

  &:focus-within {
    border: 1px solid #999999;
  }

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
}
