<div class="legenda">
  <div class="labels">
    <span class="legenda-active">Active</span>
    <span class="active-modified">Active/modified</span>
    <span class="inactive">Inactive</span>
    <span class="inactive-modified">Inactive/modified</span>
  </div>


  <div class="toggles">

    <oh-my-autocomplete-dropdown [formControl]="scenarioCtrl" [options]="scenarioOptions" label="Scenario"></oh-my-autocomplete-dropdown>

    <div class="toggle">
      <label for="show-active-list">Activate new</label>
      <mat-slide-toggle (change)="onToggleActivateNew($event.checked)" [checked]="$any(state.aux.newAutoActivate)"
        color="primary">
      </mat-slide-toggle>
    </div>
  </div>
</div>

<ol data-table>
  <li class="header">
    <span class="type">Type</span>
    <span class="method">Method</span>
    <div class="url">
      <span>Url</span>
      <div class="filter-field">
        <mat-form-field [floatLabel]="'never'">
          <input type="search" matInput placeholder="Filter" [formControl]="filterCtrl">
        </mat-form-field>
        <button mat-button *ngIf="filterCtrl.value" matSuffix mat-icon-button aria-label="Clear"
          (click)="filterCtrl.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
        <mat-icon class="search-help" color="primary"
          matTooltip="Each word in this search field is searched for independenty from other words. To combine multiple words use quotes">
          info</mat-icon>
      </div>
    </div>
    <span class="mock">Mock</span>
    <span class="actions btns-1">Actions</span>
  </li>

  <li class="data-row" *ngFor="let row of filteredDataList; index as index; trackBy: trackBy" (click)="onDataClick(row, index)"
    [ngClass]="{
    'is-selected': selection.isSelected(index),
    'is-active': row.enabled,
    'is-modified': row.mocks[row.activeMock]?.modifiedOn}">
    <span class="method">{{row.type}}</span>
    <span class="type">{{row.method}}</span>
    <span class="url">{{row.url}}</span>
    <span class="mock">
      <oh-my-mock-label *ngIf="row.activeMock" [mock]="row.mocks[row.activeMock]" [state]="state"></oh-my-mock-label>
    </span>
    <ng-container *ngTemplateOutlet="actions; context: { row: row, index: index}"></ng-container>
  </li>
</ol>
<!-- 
<ol data-table>
  <li *ngFor="let row of applyFilter(data); index as index; trackBy: trackBy" (click)="onDataClick(row, index)" [ngClass]="{
        'is-selected': selection.isSelected(index),
        'is-active': row.enabled,
        'is-modified': row.mocks[row.activeMock]?.modifiedOn}">
    <span class="method">{{row.type}}</span>
    <span class="type">{{row.method}}</span>
    <span class="url">{{row.url}}</span>
    <span class="mock">
      <oh-my-mock-label [mock]="row.mocks[row.activeMock]"></oh-my-mock-label>
    </span>
    <ng-container *ngTemplateOutlet="actions; context: { row: row, index: index}"></ng-container>
  </li>
</ol> -->

<ng-template #actions let-row="row" let-index="index">
  <div class="actions btns-1">
    <div class="btn-wrapper">
      <button *ngIf="showActivate" (click)="onActivateToggle(row.id, $event)" mat-icon-button color="primary"
        aria-label="Example icon button with a menu icon">
        <mat-icon *ngIf="!row.enabled">play_arrow</mat-icon>
        <mat-icon *ngIf="row.enabled">stop</mat-icon>
      </button>
      <button *ngIf="showClone" (click)="onClone(row.id, $event)" mat-icon-button color="primary"
        aria-label="Example icon button with a menu icon">
        <mat-icon>content_copy</mat-icon>
      </button>
      <button *ngIf="showDelete" (click)="onDelete(row.id, $event)" mat-icon-button color="primary"
        aria-label="Example icon button with a menu icon">
        <mat-icon>delete</mat-icon>
      </button>
      <button *ngIf="showExport" (click)="onExport(row, index, $event)" mat-icon-button color="primary"
        aria-label="Example icon button with a menu icon">
        <mat-icon>import_export</mat-icon>
      </button>
    </div>
  </div>
</ng-template>