@import 'mixins';

@import "legenda";

:host {
  --color: #{$color-light};
  --bg-color: #{$color-dark};

  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
}

.is-active .mock oh-my-mock-label {
  opacity: 1;
}

li:not(.is-selected) {
  &.is-active {
    background-color: $active;
  }

  &.is-active.is-modified {
    background-color: $activeModified;
  }

  &.is-modified:not(.is-active) {
    background-color: $inactiveModified;
  }

  &:not(.is-active):not(.is-modified) {
    background-color: $inactive;
  }
}

li.is-selected {
  background-color: grey;

  * {
    color: #fff;
  }
}

ol[data-table] {
  @include oh-list-unstyled;
  background-color: $color-light;

  .header {
    display: flex;
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, .54);
    padding: $spacer-4;
  }

  li {
    border-top: 5px solid transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 0;
  }


  li.data-row {
    cursor: pointer;
    display: flex;
    padding: 0 $spacer-4;
    position: relative;
    transition-property: transform;
    transition-duration: var(--animation-duration, 0.8s);

    span {
      user-select: none;
    }
  }
}

.data-row {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.custom-drag-placeholder {
  display: flex;
  background: #ccc !important;
  border: dotted 3px #999;
  padding: 0 $spacer-4;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  font-size: 14px;
  height: 46px;

  span {
    opacity: 0;
  }
}


[data-table].cdk-drop-list-dragging .data-row:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

span.method {
  flex: 0 0 60px;
  padding-left: $spacer-2;
}

span.type {
  flex: 0 0 55px;
  padding-left: $spacer-2;
}

span.url {
  flex: 1;
  padding-left: $spacer-2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mock {
  flex: 0 0 120px;
  display: inline-flex;
  justify-content: space-between;
  overflow: hidden;
  padding-left: $spacer-2;

  oh-my-mock-label {
    opacity: .3;
  }
}

.actions {
  align-items: center;
  display: flex;
  padding-left: $spacer-2;

  &.btns-1 {
    flex: 0 0 65px;
  }

  &.btns-2 {
    flex: 0 0 85px;
  }

  &.btns-3 {
    flex: 0 0 145px;
  }

  button+button {
    margin-left: $spacer-2;
  }
}

.toggles {
  display: flex;
  align-items: center;

  label {
    padding-right: $spacer-2;
  }

  .toggle {
    align-items: center;
    display: flex;

    &+.toggle {
      margin-left: $spacer-2;
    }
  }
}

// Highlight
.is-hit-a {
  animation: highlight-a 1000ms ease-out;
}

.is-hit-b {
  animation: highlight-b 500ms ease-out;
}

@keyframes highlight-a {
  0% {
    background-image: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .1), rgba(255, 255, 255, .1));
  }

  30% {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  }

  100% {
    background-image: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .1), rgba(255, 255, 255, .1));
  }
}

@keyframes highlight-b {
  0% {
    background-image: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .1), rgba(255, 255, 255, .1));
  }

  30% {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  }

  100% {
    background-image: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .1), rgba(255, 255, 255, .1));
  }
}
