@import 'mixins';

@import "legenda";

:host {
  --color: #{$color-light};
  --bg-color: #{$color-dark};

  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;

  &.light {
    --bg-color: #{$color-light};
    --color: #{$color-dark};
  }
}

.is-active:not(.is-selected) {
  background-color: #99ffcc;
}

.is-active.is-modified:not(.is-selected) {
  background-color: #ffff99;
}

.is-selected {
  background-color: grey;

  * {
    color: #fff;
  }
}

.no-data {
  color: #fff;
  font-weight: bold;
}

.edit-data {
  position: absolute;
  top: 27px;
  right: 30px;
}

ol[data-table] {
  @include oh-list-unstyled;
  background-color: #fff;
  margin-right: 150px;

  .header {
    display: flex;
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, .54);
    padding: $spacer-4;

    .active::after {
      display: none;
    }
  }

  li {
    border-top: 5px solid transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }


  li.data-row {
    cursor: pointer;
    display: flex;
    padding: $spacer-4 $spacer-4;
    position: relative;
    transition-property: transform; // 0.8s;
    // transition-property: transform;
    transition-duration: var(--animation-duration, 0.8s);

    span {
      user-select: none;
    }
  }
}




// ODL CDK Table

// Animate row movements
// tr {
//   transition: transform 0.8s;
// }

// //
// th.mat-column-actions {
//   background-color: var(--bg-color);
// }

// th {
//   white-space: nowrap;
// }

// th,
// td {
//   padding-right: 20px !important;

//   &.cdk-column-url {
//     overflow-wrap: anywhere;
//   }
// }

// td.mat-column-actions.mat-column-actions {
//   background-color: var(--bg-color) !important;
//   cursor: default !important;
//   width: 140px;

//   .action-btn-wrapper {
//     display: flex;
//     flex-wrap: nowrap;
//     padding-left: $spacer-2;
//   }

//   button+button {
//     margin-left: $spacer-1;
//   }
// }

// Drag&drop
.data-table {
  width: 500px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.data-row {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.example-custom-placeholder {
  display: flex;
  background: #ccc;
  border: dotted 3px #999;
  padding: $spacer-4 $spacer-4;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  font-size: 14px;

  span {
    opacity: 0;
  }
}


// .cdk-drag-animating {
//   transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
// }

[data-table].cdk-drop-list-dragging .data-row:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

span.method {
  flex: 0 0 60px;
}

span.type {
  flex: 0 0 55px;
}

span.url {
  flex: 1;
  overflow-wrap: anywhere;
}

.active {
  flex: 0 0 120px;
  display: inline-flex;
  justify-content: space-between;

  &.with-arrow::after {
    content: '➱'
  }
}

.actions {
  @include oh-position(absolute, 0px 0px 0px 0);
  align-items: center;
  display: flex;
  transform: translateX(calc(100% + #{$spacer-2}));

  button+button {
    margin-left: $spacer-2;
  }
}

.hit-list-toggle {
  display: flex;
  align-items: center;

  label {
    padding-right: $spacer-2;
  }
}

// Highlight
.is-hit-a {
  animation: highlight-a 1000ms ease-out;
}

.is-hit-b {
  animation: highlight-b 500ms ease-out;
}

@keyframes highlight-a {
  0% {
    background-image: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .1), rgba(255, 255, 255, .1));
  }

  30% {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  }

  100% {
    background-image: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .1), rgba(255, 255, 255, .1));
  }
}

@keyframes highlight-b {
  0% {
    background-image: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .1), rgba(255, 255, 255, .1));
  }

  30% {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  }

  100% {
    background-image: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .1), rgba(255, 255, 255, .1));
  }
}
