@import "mixins";
@import "legenda";

:host {
  --color: #{$color-light};
  --bg-color: #{$color-dark};

  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;

  .scenario-selector {
    margin-top: -5px;
    margin-bottom: -20px;
    margin-right: $spacer-4;

    ::ng-deep mat-label {
      color: #fff;
    }
  }
}

.is-active .mock oh-my-mock-label {
  opacity: 1;
}

li:not(.is-selected) {
  &.is-active {
    &,
    &:hover .btn-wrapper {
      background-color: $active;
    }
  }

  &.is-active.is-modified {
    &,
    &:hover .btn-wrapper {
      background-color: $activeModified;
    }
  }

  &.is-modified:not(.is-active) {
    &,
    &:hover .btn-wrapper {
      background-color: $inactiveModified;
    }
  }

  &:not(.is-active):not(.is-modified) {
    &,
    &:hover .btn-wrapper {
      background-color: $inactive;
    }
  }
}

li.is-selected {
  &,
  .btn-wrapper {
    background-color: $selected;
  }

  * {
    color: #fff;
  }
}

ol[data-table] {
  @include oh-list-unstyled;
  background-color: $color-light;

  .header {
    border-top: none;
    align-items: center;
    display: flex;
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
    height: 50px;
    padding: 0 $spacer-4;

    .url {
      align-items: center;
      display: flex;
      height: 50px;
      position: relative;

      .filter-field {
        align-self: center;
        height: 50px;
        @include oh-position(absolute, 0 0 0 50%);
        transform: translateX(-50%);

        mat-form-field {
          font-size: $oh-font-size;
          padding-right: 30px;
        }

        // button {
        //   @include oh-position(absolute, 8px 0px 0 0);
        // }

        .search-help {
          @include oh-position(absolute, 8px -10px 0 0);
        }
      }
    }
  }

  li {
    border-top: 5px solid transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 0;
  }

  li.data-row {
    cursor: pointer;
    display: flex;
    padding: 0 $spacer-4;
    position: relative;
    transition-property: transform;
    transition-duration: var(--animation-duration, 0.8s);
    height: 46px;

    span {
      user-select: none;
    }

    &:hover {
      .btn-wrapper {
        display: flex;
        position: absolute;
        right: 0;

        button + button {
          display: block;
        }
      }
    }
  }
}

.data-row {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.custom-drag-placeholder {
  display: flex;
  background: #ccc !important;
  border: dotted 3px #999;
  padding: 0 $spacer-4;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  font-size: 14px;
  height: 46px;

  span {
    opacity: 0;
  }
}

[data-table].cdk-drop-list-dragging .data-row:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

span.method {
  flex: 0 0 60px;
  padding-left: $spacer-2;
}

span.type {
  flex: 0 0 55px;
  padding-left: $spacer-2;
}

.url {
  flex: 1;
  padding-left: $spacer-2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mock {
  flex: 0 0 120px;
  display: inline-flex;
  justify-content: space-between;
  overflow: hidden;
  padding-left: $spacer-2;

  oh-my-mock-label {
    opacity: 0.3;
  }
}

.actions {
  align-items: center;
  display: flex;
  position: relative;

  button + button {
    display: none;
  }

  .btn-wrapper {
    flex-direction: row-reverse;
  }

  &.btns-1 {
    flex: 0 0 40px;
  }

  &.btns-2 {
    flex: 0 0 85px;
  }

  &.btns-3 {
    flex: 0 0 145px;
  }

  button + button {
    margin-left: $spacer-2;
  }
}

.toggles {
  display: flex;
  align-items: center;

  label {
    padding-right: $spacer-2;
  }

  .toggle {
    align-items: center;
    display: flex;

    & + .toggle {
      margin-left: $spacer-2;
    }
  }

  .scenario-help {
    margin-left: -$spacer-5;
    margin-right: $spacer-2;
  }
}

// Highlight
.is-hit-a {
  animation: highlight-a 1000ms ease-out;
}

.is-hit-b {
  animation: highlight-b 500ms ease-out;
}

@keyframes highlight-a {
  0% {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  }

  30% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  }

  100% {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  }
}

@keyframes highlight-b {
  0% {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  }

  30% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  }

  100% {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  }
}
