$active: #99ffcc;
$inactive: #fff;
$inactiveModified: #FAC3B7;
$activeModified: #ffff99;

.legenda {
  display: flex;
  margin-bottom: 5px;
  background-color: grey;
  padding: $spacer-2;
  color: $color-light;

  .labels {
    display: flex;
    flex: 1;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &::before {
      content: '';
      border: 1px solid lightgrey;
      border-radius: 3px;
      display: block;
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }

    &+span {
      padding-left: 10px;
    }
  }


  .legenda-active::before {
    background-color: $active;
  }

  .inactive::before {
    background-color: $inactive

  }

  .active-modified::before {
    background-color: $activeModified;
  }

  .inactive-modified::before {
    background-color: $inactiveModified;
  }
}
