$active: #99ffcc;
$inactive: #fff;
$inactiveModified: #fff8ff;
$activeModified: #ffff99;
$selected: #6666ff;

.legenda {
  display: flex;
  margin-bottom: 5px;
  background-color: grey;
  padding: $spacer-2;
  color: $color-light;

  .labels {
    display: flex;
    flex: 1;
  }

  .group {
    span + span {
      margin-top: 5px;
    }
  }

  span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 10px;

    &::before {
      content: "";
      border: 1px solid lightgrey;
      border-radius: 3px;
      display: block;
      width: 10px;
      height: 10px;
      margin-right: 5px;
    }
  }

  .legenda-active::before {
    background-color: $active;
  }

  .inactive::before {
    background-color: $inactive;
  }

  .active-modified::before {
    background-color: $activeModified;
  }

  .inactive-modified::before {
    background-color: darken($inactiveModified, 10);
  }
}
