.legenda {
  display: flex;
  margin-bottom: 5px;
  margin-right: 150px;
  background-color: rgba(255, 255, 255, .5);
  padding: $spacer-2;
  color: $color-light;

  .labels {
    display: flex;
    flex: 1;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &::before {
      content: '';
      border: 1px solid lightgrey;
      border-radius: 3px;
      display: block;
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }

    &+span {
      padding-left: 10px;
    }
  }


  .legenda-active::before {
    background-color: #99ffcc;
  }

  .inactive::before {
    background-color: #fff;

  }

  .active-modified::before {
    background-color: #ffff99;
  }
}
