@import 'mixins';

:host {
  &.light {
    .no-data {
      color: $color-dark;
    }
  }
}

.new-data {
  position: absolute;
  right: 20px;
  bottom: 20px;
}


.no-data {
  color: #fff;
  font-weight: bold;
  padding: 20px;
}

oh-my-arrow {
  position: absolute;
  bottom: 10px;
  right: 40px;
}
