<oh-my-data-list
  [state]="state"
  [context]="state.context"
  [showActivate]="true"
  [showClone]="true"
  [showDelete]="true"
  (selectRow)="onDataSelect($event)">
</oh-my-data-list>

<section *ngIf="!hasData" class="no-data">
  <h2>No responses available</h2>
  <p>Cached API calls will automatically show up here!</p>

  <oh-my-arrow></oh-my-arrow>
</section>

<button *ngIf="!domain" (click)="onAddData()" class="new-data" mat-fab color="primary"
  aria-label="Delete all mocks for a specific URL">
  <mat-icon>add</mat-icon>
</button>
