:host {
  display: block;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
}

pre {
  display: block;
  margin: 0;
  max-height: 100%;
  max-width: 100%;
  overflow: scroll;
  font-size: 15px;
  padding: 5px;

  code {
    display: block;
    height: 100%;
  }
}
