<h2>
  <mat-icon color="warn">error</mat-icon>
  <span>Ooops, something went seriously wrong</span>
</h2>

<button class="close" mat-icon-button (click)="onClose()"><mat-icon>close</mat-icon></button>

<p>
  If you read this text, something went wrong and data has been lost. This
  should not have happened and it should be fixed. Please take the time to
  create an issue and help improve OhMyMock!
</p>

<p>
  You can directly create an issue <a [href]="url" target="_blank">here</a> and
  copy-past the content below in it.
</p>

<oh-my-code-edit
  *ngIf="ctrl"
  class="request-response"
  [formControl]="ctrl"
></oh-my-code-edit>
