<nav>
  <ol class="reset">
    <li><button mat-button color="primary" (click)="onReset()">Reset state</button></li>
    <li><button mat-button color="primary" routerLink="/state-explore">Explore state</button></li>
    <li><button mat-button color="primary" routerLink="/settings/ngapimock">ng-apimock settings</button></li>
    <li><button mat-button color="primary" routerLink="/json-export">JSON export</button></li>
    <li><button mat-button color="primary" (click)="onJsonImport()">JSON import</button></li>
  </ol>
</nav>
