<div class="editor-wrapper oh-no-backspace-nav">
  <ngx-monaco-editor *ngIf="editMode === 'edit'"
    [options]="editorOptions" [formControl]="control"></ngx-monaco-editor>
  <ngx-monaco-diff-editor *ngIf="editMode === 'diff'"
    [options]="editorOptions" [original]="originalCode" [modified]="control.value">
  </ngx-monaco-diff-editor>
</div>

<footer>
  <mat-error>{{error}}</mat-error>

  <div *ngIf="isDialog" class="button-actions">
    <button mat-raised-button (click)="onReset()">Reset</button>
    <button mat-raised-button (click)="onToggle()">{{editMode === 'diff' ? 'Edit' : 'Diff'}}</button>
    <div class="spacer"></div>
    <button mat-raised-button color="primary" (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="onSave()">Save</button>
  </div>
</footer>
