<mat-drawer-container class="example-container" [hasBackdrop]="dawerBackdrop">
  <mat-drawer [mode]="drawerMode">
    <app-nav-list (navigate)="drawer.close()"></app-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar>
      <app-header-button (menu)="drawer.toggle()"></app-header-button>

      <h1>Oh My Mock - {{domain}} </h1>
      <span class="header-spacer"></span>
      <mat-slide-toggle (change)="onEnableChange($event)" [checked]="enabled" [color]="color"></mat-slide-toggle>
    </mat-toolbar>

    <section>
      <router-outlet></router-outlet>
    </section>
  </mat-drawer-content>

</mat-drawer-container>
