@import "mixins";

:host {
  background-color: #000;
}

mat-drawer-content {
  background-color: #000;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .button-wrapper {
    margin-right: 10px;
  }

  .header-spacer {
    flex: 1 1 auto;
  }


  section {
    padding: 20px;
    flex: 1;
    overflow: scroll;
  }

  .cloud-sync {
    margin-right: $spacer-4;
  }
}
