@import 'mixins';

:host {
  background-color: #000;
}

.is-blurred {
  filter: blur(2px);
}

mat-toolbar {
  max-width: 100%;
  overflow: hidden;
  position: relative;

  h1 {
    flex: 1;
    @include oh-ellipsis;
    padding-right: $spacer-2;

    .dash {
      padding: 0 $spacer-2;
    }
  }
}

.disabled-notification {
  background-color: red;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border-radius: 5px;
  border: 5px solid #fff;
  padding: $spacer-2;
  top: 40px;
  z-index: 1;
}

mat-drawer-content {
  background-color: #000;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .button-wrapper {
    margin-right: 10px;
  }

  .header-spacer {
    flex: 1 1 auto;
  }

  section {
    padding: 20px;
    flex: 1;
    overflow: scroll;
  }

  .cloud-sync {
    margin-right: $spacer-4;
  }
}

oh-my-spinner {
  @include oh-position(absolute, 50% 0 0 50%);
  transform: translate(-50%, -50%);
}

oh-my-feedback {
  @include oh-position(absolute, 50% 0 0 0px);
  transform: translateY(-50%);
  z-index: 1;
}

.buy-me-a-coffee {
  align-items: center;
  display: inline-flex;
  height: 100%;
  margin-right: $spacer-4;

  img {
    height: 50%;
  }
}
