<h2>Create mock</h2>
<form x-test="add-custom-response-form" [formGroup]="formGroup">
  <mat-form-field appearance="fill">
    <mat-label>URL (regex)</mat-label>
    <input x-test="custom-response-url" matInput [formControl]="urlControl" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Request Type</mat-label>
    <select
      x-test="custom-response-type"
      matNativeControl
      required
      [formControl]="typeControl"
    >
      <option value="XHR">XHR</option>
      <option value="FETCH">FETCH</option>
    </select>
  </mat-form-field>

  <oh-my-autocomplete-dropdown
    x-test="custom-response-method"
    label="Method"
    [formControl]="methodControl"
    [showAllOnFocus]="true"
    [options]="$any(availableMethods)"
  ></oh-my-autocomplete-dropdown>

  <div class="spacer"></div>

  <div class="actions">
    <button type="button" mat-button (click)="onClose()">Cancel</button>
    <button x-test="save-curstom-response" type="submit" mat-raised-button color="primary" (click)="onSave()">
      Save
    </button>
  </div>
</form>
