<h2>Create mock</h2>
<form [formGroup]="formGroup">
  <mat-form-field appearance="fill">
    <mat-label>URL (regex)</mat-label>
    <input matInput [formControl]="urlControl">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Request Type</mat-label>
    <select matNativeControl required [formControl]="typeControl">
      <option value="XHR">XHR</option>
      <option value="FETCH">FETCH</option>
    </select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Request Method</mat-label>
    <select matNativeControl required [formControl]="methodControl">
      <option value="GET">GET</option>
      <option value="POST">POST</option>
    </select>
  </mat-form-field>

  <div class="spacer"></div>

  <div class="actions">
    <button mat-button (click)="onClose()">Cancel</button>
    <button mat-raised-button color="primary" (click)="onSave()">Save</button>
  </div>
</form>
