@import "mixins";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.editor-wrapper {
  background-color: rgba(0, 0, 0, 0.87);
  display: block;
  padding: 5px 0;
  height: 100%;
}

.button-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  width: 100%;

  button + button {
    margin-left: 10px;
  }
}

ngx-monaco-diff-editor,
ngx-monaco-editor {
  display: block;
  height: 100%;
  width: 100%;
}

footer {
  display: flex;
  justify-content: space-between;
}

.close-with-errors {
  @include oh-position(absolute, 0px 0px 0px 0px);
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 1;

  article {
    background-color: $color-light;
    padding: $spacer-4;
  }
}
