@import 'mixins';

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include oh-dialog;
}

article {
  @include oh-dialog-content(300px, 200px);
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-slide-toggle {
  margin-left: 5px;
}
