<mat-card>
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span *ngIf="panelOpenState">Available domains:</span>
          <span *ngIf="!panelOpenState">Selected domain:</span>
        </mat-panel-title>
        <mat-panel-description>
          {{selectedDomain}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ol>
        <li *ngFor="let domain of domains">
          <a [routerLink]="" (click)="onSelectDomain(domain)">{{domain}}</a>
        </li>
      </ol>
      <p *ngIf="!domains?.length">No domains available!</p>
    </mat-expansion-panel>
    <mat-expansion-panel #panel (closed)="panelOpenState = true">
      <mat-expansion-panel-header *ngIf="dataItem">
        <mat-panel-title>
          {{dataItem.method}} {{dataItem.type}}
        </mat-panel-title>
        <mat-panel-description>
          {{dataItem.url}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <button class="clone-all" *ngIf="dataList?.length" (click)="onCloneAll()" mat-mini-fab color="warn"
        aria-label="Clone all"><mat-icon>copy_all</mat-icon>
      </button>
      <oh-my-data-list theme="light" [data]="dataList" [domain]="selectedDomain" [showClone]="true" [showDelete]="true"
        (select)="onDataSelect($event)"></oh-my-data-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <oh-my-mock *ngIf="dataItem" [data]="dataItem" [domain]="selectedDomain"></oh-my-mock>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
