@import "mixins";

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.action-wrapper {
  align-items: center;
  display: flex;
  position: relative;

  & > mat-icon {
    @include oh-position(absolute, 0px -12px 0 0);
  }
}

.mock-settings {
  display: flex;
  flex-direction: row;

  oh-my-mock-details {
    flex: 1;
  }
}

.mock-actions {
  align-items: flex-end;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  flex: 0 0 100px;

  .anonymize-mock {
    margin-top: $spacer-2;
  }
}

section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.details {
  padding-top: 0;
  position: relative;

  h3 {
    @include oh-position(absolute, -$spacer-2 0 0 50%);
    background-color: #fff;
    border: solid 1px #ccc;
    border-radius: 20px;
    padding: $spacer-1 $spacer-4;
    transform: translate(-50%, -50%);
  }
}

mat-card + mat-card {
  margin-top: $spacer-2;
}

.editors {
  margin-top: -25px;

  & > div {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .response {
    header {
      margin-left: $spacer-3;
    }

    .fullscreen {
      right: 5px;
    }

    oh-my-code-edit {
      margin-left: -$spacer-7;
    }
  }

  .headers {
    header {
      margin-left: $spacer-7;
    }
  }
}
.code-wrapper {
  align-self: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  .fullscreen {
    @include oh-position(absolute, -35px -10px 0 0);
    z-index: 1;
  }

  .reset {
    align-self: flex-end;
  }
}

.js-code-edit {
  margin-left: $spacer-2;
  margin-top: $spacer-2;
}

oh-my-code-edit {
  align-self: center;
  height: 230px;
  width: 100%;
}

.response,
.headers {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;

  .fullscreen {
    align-self: flex-end;
  }
}

.no-data {
  display: flex;
  flex-direction: column;
  padding: $spacer-4;

  ol {
    max-width: 500px;
  }
}
