@import 'mixins';

.wrapper {
  padding-bottom: 50px;
  position: relative;

  button.export-all {
    @include oh-position(absolute, 0px 3px 0 0);
    z-index: 1;
  }
}

button.export {
  position: absolute;
  right: 50px;
  bottom: 20px;
  z-index: 1;
}
