.wrapper {
  padding-bottom: 50px;
  position: relative;

  button.export-all {
    position: absolute;
    right: 3px;
    top: 71px;
    z-index: 1;
  }
}


button.export {
  position: absolute;
  right: 50px;
  bottom: 20px;
  z-index: 1;
}
