<div class="wrapper">
  <button class="export-all" *ngIf="state?.data?.length" (click)="onSelectAll()" mat-mini-fab color="warn"
    aria-label="Clone all">
    <mat-icon>copy_all</mat-icon>
  </button>

  <oh-my-data-list *ngIf="state" [state]="state" [showExport]="true" (dataExport)="onRowExport($event)">
  </oh-my-data-list>

  <button class="export" mat-raised-button color="primary" (click)="onExport()"
    [matBadge]="selectionCount" matBadgePosition="after"
    matBadgeColor="accent">
    <mat-icon>import_export</mat-icon><span>Export</span>
  </button>
</div>
