/* You can add global styles to this file, and also import other style files */

// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
}

.spacer {
  flex: 1;
}

* {
  box-sizing: border-box;
}

ol.reset,
ol.reset li,
ol.reset ul li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

.spacer {
  flex: 1;
}

// Wrap content in a toaster
.hot-toast-message dynamic-content>div {
  overflow-wrap: anywhere;
}

.scrollable-dialog {
  overflow-y: scroll;
}
