<mat-card *ngIf="data" class="header">
  <app-mock-header [data]="data"></app-mock-header>
</mat-card>

<mat-card *ngIf="data?.activeStatusCode > 0" class="details">
  <section>
    <div>
      <p><span class="label">Status code:</span><span class="value">{{statusCode}}</span></p>
      <p><span class="label">Created:</span><span class="value">{{mock.createdOn}}</span></p>
      <p><span class="label">Last modified:</span><span class="value">{{mock.modifiedOn}}</span></p>
    </div>
    <button class="delete-mock" (click)="onDelete()">
      <mat-icon>delete_forever</mat-icon>
    </button>
  </section>

  <header>
    <h2>Response</h2>
    <button class="js-code-edit" (click)="openJsCodeDialog()" mat-stroked-button>Mocking with code</button>
  </header>
  <div class="data">
    <app-edit-data [data]="responseMock" (dataChange)="onResponseChange($event)"></app-edit-data>
    <button mat-button (click)="onRevertResponse()">Revert</button>
  </div>

  <section class="headers">
    <app-edit-data [data]="headersMock" (dataChange)="onHeadersChange($event)"></app-edit-data>
    <button mat-button (click)="onRevertHeaders()">Revert</button>
  </section>
</mat-card>
