<mat-card *ngIf="data" class="header">
  <app-mock-header [data]="data"></app-mock-header>
</mat-card>

<mat-card *ngIf="data?.activeStatusCode > 0" class="details">
  <button (click)="onDelete()">
    <mat-icon>delete_forever</mat-icon>
  </button>
  <header>
    <h2>Response</h2>
    <h2>
      <span>Mock</span>
      <span class="toggle">
        enable
        <mat-slide-toggle [checked]="mock.useMock" (change)="onEnableMockToggle($event.checked)">
        </mat-slide-toggle>
      </span>
    </h2>
  </header>
  <div class="data">
    <pre #responseRef></pre>
    <div class="pre">
      <pre #mockRef (keyup)="onMockChange($event)" class="mock"></pre>
      <mat-error>{{mockJsonError}}</mat-error>
    </div>
  </div>

  <section class="headers">
    <button class="js-code-edit" (click)="openJsCodeDialog()" mat-stroked-button>Mocking with code</button>
    <app-header-overview [data]="data"></app-header-overview>
  </section>
</mat-card>
