:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

mat-card+mat-card {
  margin-top: 10px;
}

.details {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;

  header {
    display: flex;
    justify-content: space-between;
    width: 100%;

    h2 {
      display: flex;
      justify-content: space-between;
      width: 49%;

      .toggle {
        align-items: center;
        display: flex;
        font-size: 13px;

        mat-slide-toggle {
          margin-left: 5px;
        }
      }
    }
  }

  .data {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    width: 100%;
    justify-content: space-between;

    .pre {
      display: flex;
      flex-direction: column;

      mat-error {
        margin-top: 5px;
      }
    }

    .pre,
    pre {
      padding: 0;
      margin: 0;
      flex: 1;
      font-size: 15px;
      min-height: 250px;

      ::ng-deep code {
        min-height: 100%;
        overflow: scroll;
      }
    }

    .pre,
    &>pre {
      width: 49%;
      max-width: 49%;

    }

    .pre .mock {
      ::ng-deep code {
        box-shadow: inset 0 0 5px #000000;
      }
    }
  }

  .js-code-edit {
    align-self: flex-end;
    margin-top: 10px;
  }
}

ngx-monaco-editor {
  height: 300px;
  width: 100%;
}

.headers {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}
