@import "mixins";

header {
  display: flex;
  justify-content: space-between;

  h2 {
    font-size: 20px;
  }
}

p {
  font-size: $oh-font-size;
  margin-top: 0;
}

ol {
  @include oh-list-unstyled;
}

li {
  display: flex;
  align-items: flex-start;

  .rule-value {
    flex: 1;
    margin-right: $spacer-3;
  }

  button+button {
    margin-left: $spacer-2;
  }
}

mat-form-field+mat-form-field {
  margin-left: $spacer-2;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: $spacer-4;
}

.explanation {
  background-color: lightgrey;
  border: 1px solid grey;
  border-radius: $spacer-2;
  display: flex;
  flex-direction: column;
  margin-bottom: $spacer-4;
  padding: $spacer-2;

  .badge {
    flex: 0 0 100px;
  }

  &>div {
    align-items: center;
    display: flex;
    font-size: $oh-font-size;

    .badge {
      margin-right: $spacer-2;
    }

    &+div {
      margin-top: $spacer-2;
    }
  }

  .cheatsheet {
    align-items: flex-start;
    background-color: $color-light;
    display: flex;
    flex-direction: column;
    padding: $spacer-3;
    margin: 0 $spacer-3;

    h4 {
      margin-top: 0;
    }

    p {
      margin-bottom: 0;
    }

    ul {
      margin-top: 0;

      li {
        align-items: flex-start;
        display: flex;
        line-height: 20px;

        strong {
          flex: 0 0 15px;
          line-height: 20px;

          &.asterisk {
            line-height: 28px;
          }
        }
      }
    }

    strong {
      font-size: $oh-font-size + 5px;
      padding-right: $spacer-1;

    }
  }

  .badge {
    @include oh-my-badge;
  }
}

.rules-list {
  padding-top: $spacer-3;

  input, select {
    font-size: $oh-font-size;
  }
}
