<div class="editor-wrapper oh-no-backspace-nav">
  <oh-my-code-edit
    [formControl]="ctrl"
    theme="vs-dark"
    [type]="input.type"
    [base]="base"
    [showMinimap]="true"
    (errors)="onErrors($event)"></oh-my-code-edit>
</div>

<footer>
  <div class="button-actions">
    <ng-container *ngIf="!input.readonly">
      <button mat-raised-button (click)="onReset()">Reset</button>
      <button mat-raised-button (click)="onToggle()">{{base ? 'Edit' : 'Diff'}}</button>
      <div class="spacer"></div>
      <button mat-raised-button color="primary" (click)="onCancel()">Cancel</button>
      <button mat-raised-button color="primary" (click)="onSave()">Save</button>
    </ng-container>

    <button *ngIf="input.readonly" mat-raised-button color="primary" (click)="onCancel()">Close</button>
  </div>
</footer>

<section *ngIf="showErrors" class="close-with-errors">
  <oh-my-code-errors (done)="onDoneErrors($event)" [errors]="errors" [allowErrors]="input.allowErrors"></oh-my-code-errors>
</section>
