name: CI

# on: [push]
on:
  push:
    branches:
      - '*'         # matches every branch that doesn't contain a '/'
      - '*/*'       # matches every branch containing a single '/'
      - '**'        # matches every branch
      - '!master'   # excludes master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: borales/actions-yarn@v2.0.0
        with:
          cmd: install # will run `yarn install` command
      - uses: borales/actions-yarn@v2.0.0
        with:
          cmd: build # will run `yarn build` command
      - uses: borales/actions-yarn@v2.0.0
        with:
          cmd: lint # will run `yarn test` command
      - uses: borales/actions-yarn@v2.0.0
        with:
          cmd: test # will run `yarn test` command

 #   steps:
 #     - uses: actions/checkout@v2
 #     - uses: actions/setup-node@v2
 #       with:
 #         node-version: '15.5.x'
 #     - run: |
 #         yarn
 #         yarn lint
 #     - run: ls -lart node_modules
 #     - run: yarn lint
